<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kid's perfume</title>
  <script src="https://kit.fontawesome.com/7481ac2f65.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <script src="../static/js/bootstrap.js"></script>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&family=Black+Ops+One&family=Cinzel:wght@700&family=Open+Sans:wght@700&family=Oswald:wght@300&family=PT+Mono&family=Qwitcher+Grypen:wght@700&family=Roboto:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>

  {% include 'navbar.html' %}
  {% include 'div.html' %}

  <div class="row ">
    <div class="col-3 ">
      <img src="../static/images/dory-kids.jpg" alt="" class="best-selling">
    
        <h5>Disney Finding Dory – eau de toilette, 100mll</h5>
      
    
      <p>KSh3,000</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
    </div>
    <div class="col-3">
      <img src="../static/images/storming-kids.webp" alt="" class="best-selling">
      
        <h5>Disney Cars Storming Through (Boys) – Eau de, 100 ml</h5>
      
 
      <p>KSh2,000</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
    </div>
    <div class="col-3">
      <img src="../static/images/starwars-kids.jpg" alt="" class="best-selling">
      
        <h5>Disney Star Wars; Strom Trooper – eau de toilette, 100ml
         </h5>
      
     
      <p>KSh4,000</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
        
    </div>
    <div class="col-3">
      <img src="../static/images/rapunzel-kids.webp" alt="" class="best-selling">
     
        <h5>
          Disney Princess Rapunzel Gift Set – Eau De Toilette ,100ml</h5>
     
     
        <p>KSh2,500</p>
        <a href="/buy"><button class="btn">Add to Cart</button></a>
    </div>

    <div class="row ">
      <div class="col-3 ">
        <img src="../static/images/Marvel-kids.webp" alt="" class="best-selling">
      
          <h5>Marvel Deadpool Gift Set For Boys – Eau de Toilette, 100ml </h5>
        
      
        <p>KSh3,500</p>
        <a href="/buy"><button class="btn">Add to Cart</button></a>
      </div>
      <div class="col-3">
        <img src="../static/images/anna-kids.jpg" alt="" class="best-selling">
        
          <h5>Disney Frozen II Anna (Girls) – Eau de Toilette,, 100 ml</h5>
        
   
        <p>KSh2,000</p>
        <a href="/buy"><button class="btn">Add to Cart</button></a>
      </div>
      <div class="col-3">
        <img src="../static/images/captain-kids.webp" alt="" class="best-selling">
        
          <h5>Marvel Captain Pour Femme (Girls) – Eau de, 100ml</h5>
        
       
        <p>KSh2,500</p>
        <a href="/buy"><button class="btn">Add to Cart</button></a>
          
      </div>
      <div class="col-3">
        <img src="../static/images/wars-kids.jpg" alt="" class="best-selling">
       
          <h5>
            Disney Wars; The dark side – eau de toilette,, 100ml</h5>
       
       
          <p>KSh3,500</p>
          <a href="/buy"><button class="btn">Add to Cart</button></a>
      </div>
    
      
    
    
    </div>
  
    
  
  
  </div>


  {% include 'footer.html' %}
</body>
</html>