<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Men's perfume</title>
  <script src="https://kit.fontawesome.com/7481ac2f65.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <script src="../static/js/bootstrap.js"></script>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&family=Black+Ops+One&family=Cinzel:wght@700&family=Open+Sans:wght@700&family=Oswald:wght@300&family=PT+Mono&family=Qwitcher+Grypen:wght@700&family=Roboto:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>

  {% include 'navbar.html' %}
  {% include 'div.html' %}
  <div class="row ">
    <div class="col-3 ">
      <img src="../static/images/amraf.png" alt="" class="best-selling">
    
        <h5>Armaf Club de nuit Intense man – pure parfum, 150ml</h5>
      
    
      <p>KSh8,500</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
    </div>
    <div class="col-3">
      <img src="../static/images/calvin klein.jpg" alt="" class="best-selling">
      
        <h5>Calvin Klein Obsession Night for Her- Eau de Parfum, 100 ml</h5>
      
 
      <p>KSh6,500</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
    </div>
    <div class="col-3">
      <img src="../static/images/bvglari.jpg" alt="" class="best-selling">
      
        <h5>Bvlgari Aqva Marine – Eau de Toilette, 100ml</h5>
      
     
      <p>KSh10,000</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
        
    </div>
    <div class="col-3">
      <img src="../static/images/versace.jpg" alt="" class="best-selling">
     
        <h5>
          Versace Oud Noir – Eau de Parfum, 100ml</h5>
     
     
        <p>KSh13,000</p>
        <a href="/buy"><button class="btn">Add to Cart</button></a>
    </div>
  
    
  
  
  </div>

  <div class="row ">
    <div class="col-3">
      <img src="../static/images/gabbana.jpg" alt="" class="best-selling">
      
        <h5>Dolce & Gabbana Velvet Desert Oud – Eau de Parfum, 50 ml
      
     
      <p>KSh25,000</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
    </div>
    <div class="col-3">
      <img src="../static/images/mercedes.jpg" alt="" class="best-selling">
   
        <h5>Mercedes Benz Intense – Eau de Toilette, 120 ml</h5>
      
      <p>KSh8000</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
    </div>
    <div class="col-3">
      <img src="../static/images/tom ford.webp" alt="" class="best-selling">
      
        <h5>Tom Ford Velvet Orchid – Eau de Parfum, 100 ml</h5>
      
   
      <p>KSh18,000</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
        </h5>
    </div>
    <div class="col-3">
      <img src="../static/images/bentley.jpg" alt="" class="best-selling">
      
        <h5>
          Bentley Intense – Eau de Parfum, 100 ml</h5>
  
        <p>KSh5,000</p>
        <a href="/buy"><button class="btn">Add to Cart</button></a>
    </div>
  
    
  
  
  </div>

  <div class="row ">
    <div class="col-3">
      <img src="../static/images/burberry.jpg" alt="" class="best-selling">
       <h5>Burberry Touch – Eau de Toilette, 100 ml</h5>
  
      <p>KSh5,500</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
      
    </div>
    <div class="col-3">
      <img src="../static/images/armani.jpg" alt="" class="best-selling">
     <h5>Giorgio Armani Code Parfum – PARFUM, 75ml</h5>
   
      <p>KSh14,000</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
      
    </div>
    <div class="col-3">
      <img src="../static/images/creed.webp" alt="" class="best-selling">
      
        <h5>Creed Silver Mountain Water – Eau de Parfum, 100 ml</h5>
      
    
      <p>KSh30,000</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
      
       
        </h5>
    </div>
    <div class="col-3">
      <img src="../static/images/salvatore.jpg" alt="" class="best-selling">
      <h5>
        Salvatore Ferragamo F By Black – Eau de Toilette, 100ml</h5>
      
        <p>KSh6,000</p>
        <a href="/buy"><button class="btn">Add to Cart</button></a>
      
    </div>
  
    
  
  
  </div>
  {% include 'footer.html' %}
</body>
</html>