<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a href="" class="navbar-brand">
      <img src="../static/images/logo.webp" alt="" class="perfume">
      <span style=" color:#d55b3e;;font-weight: 900; text-decoration: underline;">Sealed With a Scent
      </a></span> 
   
    <div class="collapse navbar-collapse" id="navv"> 
      <ul class="navbar-nav me-auto">
        <li class="nav-item ">
          <a href="/ " class="nav-link active">HOME</a>
  
        </li>
        

        <li class="nav-item navbar-nav nav-link dropdown">
          <li class="nav-item">
            <a href="/about " class="nav-link">ABOUT US</a>
    
          </li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">CONTACT US</a>
    
          </li>
        
        </li>
          </ul>

          <!-- connecting the navbar -->
          <div id="content"></div>

       

        <!--search button  -->
        <div class="d-flex">
          <input type="search" name="search" id="search" placeholder="Search" class="form-control me-2" >
          <button class="btn btn-outline-success">Search</button>
          </div>

    </div>

  </div>

</nav>