<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shiping</title>
  <style>
   .shipping-policies{
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: blueviolet;
   }
   .card{
    font-size: 15px;
  
   }
   .card-title{
    font-size: 19px;
   }
  </style>
</head>
<body>
  <h4 class="shipping-policies">Shipping policies</h4>
  <p>
  </p>
<div></div>
  <div class="card" >
   
    <div class="card-body">
      <h5 class="card-title">  Shipping within Nairobi</h5>
      <p class="card-text">   Shipping within Nairobi is done on the same day as long as you order before 6:00pm
        Note that additional courier charged will be added and it depends on your location.</p>
     
    </div>
  </div>

  <div class="card" >
   
    <div class="card-body">
      <h5 class="card-title">  Shipping outside Nairobi</h5>
      <p class="card-text">   Shipping outside Nairobi will be sent via parcel.It may take 2 to 3 working days.They charges of the parcels are to be paid by the buyer.</p>
     
    </div>
  </div>

  <div class="card" >
   
    <div class="card-body">
      <h5 class="card-title">   Shipping to Tanzania,Uganda</h5>
      <p class="card-text">   Shipping to Tanzania and Uganda will be done via parcel.They charges of the parcels are to be paid by the buyer.It may take 4 to 5 working days..</p>
     
    </div>
  </div>

  


  
</body>
</html>