<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Women's perfume</title>
  <script src="https://kit.fontawesome.com/7481ac2f65.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <script src="../static/js/bootstrap.js"></script>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital@1&family=Black+Ops+One&family=Cinzel:wght@700&family=Open+Sans:wght@700&family=Oswald:wght@300&family=PT+Mono&family=Qwitcher+Grypen:wght@700&family=Roboto:wght@300;500&display=swap" rel="stylesheet">
</head>
<body>

  {% include 'navbar.html' %}
  {% include 'div.html' %}


  <div class="row ">
    <div class="col-3">
      <img src="../static/images/kayali1.jpg" alt="" class="best-selling">
       <h5>Kayali Elixir | 11 by Kayali – Eau de Parfum, 100ml</h5>
  
      <p>KSh19,500</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
      
    </div>
    <div class="col-3">
      <img src="../static/images/victoriasecret.jpg" alt="" class="best-selling">
     <h5>Bombshell Intense. Eau De Parfum</h5>
   
      <p>KSh13,500</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
      
    </div>
    <div class="col-3">
      <img src="../static/images/carolina.webp" alt="" class="best-selling">
      
        <h5>Carolina Herrera Very Good Girl Glam -Eau de Parfum, 80 ml</h5>
      
    
      <p>KSh19,500</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
      
       
        </h5>
    </div>
    <div class="col-3">
      <img src="../static/images/gabbana.jpg" alt="" class="best-selling">
      <h5>
        Dolce & Gabbana Velvet Desert Oud – Eau de Parfum, 50 ml</h5>
      
        <p>KSh25,000</p>
        <a href="/buy"><button class="btn">Add to Cart</button></a>
      
    </div>
  
    
  
  
  </div>

  <div class="row ">
    <div class="col-3">
      <img src="../static/images/gucci.webp" alt="" class="best-selling">
       <h5>Gucci Bamboo – Eau de Parfum, 75ml</h5>
  
      <p>KSh13,000</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
      
    </div>
    <div class="col-3">
      <img src="../static/images/poison-women.jpg" alt="" class="best-selling">
     <h5>Christian Dior Poison – Eau de Toilette, 100 ml</h5>
   
      <p>KSh19,500</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
      
    </div>
    <div class="col-3">
      <img src="../static/images/mancera-women.jpg" alt="" class="best-selling">
      
        <h5>Mancera Cedrat Boise – Eau d e Parfum</h5>
      
    
      <p>KSh18,000</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
      
       
        </h5>
    </div>
    <div class="col-3">
      <img src="../static/images/mancera red.jpg" alt="" class="best-selling">
      <h5>
        Mancera Red Tobacco – Eau de Parfum, 120 ml</h5>
      
        <p>KSh11,000</p>
        <a href="/buy"><button class="btn">Add to Cart</button></a>
      
    </div>
  
    
  
  
  </div>

  <div class="row ">
    <div class="col-3">
      <img src="../static/images/hugoboss-women.jpg" alt="" class="best-selling">
       <h5>Hugo Boss Ma Vie – Eau de Parfum, 75ml</h5>
  
      <p>KSh6,000</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
      
    </div>
    <div class="col-3">
      <img src="../static/images/hugoorange-women.jpg" alt="" class="best-selling">
     <h5>Hugo Boss Orange Woman – eau de toilette, 75ml</h5>
   
      <p>KSh3,500</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
      
    </div>
    <div class="col-3">
      <img src="../static/images/lalique-women.jpg" alt="" class="best-selling">
      
        <h5>Lalique Amethyst Eclat – Eau de Parfum, 100ml</h5>
      
    
      <p>KSh3,000</p>
      <a href="/buy"><button class="btn">Add to Cart</button></a>
      
       
        </h5>
    </div>
    <div class="col-3">
      <img src="../static/images/nishane-unisex.jpg" alt="" class="best-selling">
      <h5>
        Nishane Hundred Silent Ways – Extrait de Parfum, 100 ml
        </h5>
      
        <p>KSh21,000</p>
        <a href="/buy"><button class="btn">Add to Cart</button></a>
      
    </div>
  
    
  
  
  </div>


  {% include 'footer.html' %}
</body>
</html>